@font-face {
    font-family: 'Mulish';
    src: url('/public/fonts/Mulish-Regular.eot');
    src: local('Mulish Regular'), local('Mulish-Regular'),
        url('/public/fonts/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Mulish-Regular.woff2') format('woff2'),
        url('/public/fonts/Mulish-Regular.woff') format('woff'),
        url('/public/fonts/Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('/public/fonts/Mulish-Bold.eot');
    src: local('Mulish Bold'), local('Mulish-Bold'),
        url('/public/fonts/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Mulish-Bold.woff2') format('woff2'),
        url('/public/fonts/Mulish-Bold.woff') format('woff'),
        url('/public/fonts/Mulish-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('/public/fonts/GreatVibes-Regular.eot');
    src: local('Great Vibes'), local('GreatVibes-Regular'),
        url('/public/fonts/GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/GreatVibes-Regular.woff2') format('woff2'),
        url('/public/fonts/GreatVibes-Regular.woff') format('woff'),
        url('/public/fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Parisienne';
    src: url('/public/fonts/Parisienne-Regular.eot');
    src: local('Parisienne'), local('Parisienne-Regular'),
        url('/public/fonts/Parisienne-Regular.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Parisienne-Regular.woff2') format('woff2'),
        url('/public/fonts/Parisienne-Regular.woff') format('woff'),
        url('/public/fonts/Parisienne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

