//Colors
$color-black: #0A0A0A;
$color-white: darken(#FFF, 10%);
$color-gold: #eab703;

//Fonts
$primary-fonts: 'Mulish', Helvetica, Arial, sans-serif;
$secondary-fonts: 'Great Vibes', 'Brush Script MT', Arial, serif;

//Transition
$transition: all 300ms cubic-bezier(0.37, 0, 0.63, 1);

//Header
$header-height: 80px;

//Image
$grayscale-dark: 50%;
