* {
    outline: 0;
    background-repeat: no-repeat;
    vertical-align: middle;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: $primary-fonts;
    font-size: 16px;
    background-color: $color-black;
    color: $color-white;

    @include mq($until: lg) {
        padding-bottom: 80px;
    }
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 500ms;
}

img {
    max-width: 100%;
}

.module {
    margin-bottom: 80px;
    position: relative;

    @include mq($until: lg) {
        margin-bottom: 40px;
    }
    
    &:last-child {
        margin-bottom: 0;
    }

    &__heading {
        font-family: $secondary-fonts;
        text-align: center;
        margin-bottom: 30px;
        font-size: 60px;
        font-weight: 400;
        color: $color-gold;
    }
}

.button {
    color: #333;
    display: inline-block;
    background-color: #999;
    padding: 10px 20px;
    text-transform: uppercase;
}