.couple-section {
    &__heading {
        text-align: center;
        margin-bottom: 60px;
        
        p {
            font-size: 16px;
        }
    }
    
    &__grid {
        &--separator {
            font-family: $secondary-fonts;
            font-size: 100px;
            text-align: center;
            display: block;
            position: relative;
            top: 40px;
            font-weight: 400;
            color: $color-gold;
        }

        &--item {
            text-align: center;

            .thumbnail-wrapper {
                margin-bottom: 30px;
                
                svg {
                    width: 50%;
                }
            }
            
            .thumbnail {
                width: 200px;
                height: 200px;
                background: $color-gold;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            
            .content {
                .name {
                    font-weight: 600;
                    font-size: 22px;
                    margin-bottom: 20px;
                    color: $color-gold;
                    letter-spacing: 1px;
                }
            }
        }
    }
}