.event-section {
    padding: 100px 0;
    color: $color-white;
    text-align: center;
    position: relative;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-size: cover;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.7);
            z-index: 9;
            pointer-events: none;
        }
    }

    .container {
        position: relative;
        z-index: 9;
    }

    .description {
        font-size: 20px;
        line-height: 2;
    }
    
    &__content {
        margin-top: 100px;
        margin-bottom: 100px;

        &--date {
            margin-bottom: 30px;

            .inner {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                
                .with-border {
                    border-top: 1px solid $color-white;
                    border-bottom: 1px solid $color-white;
                    padding: 10px 0;
                    span {
                        font-size: 26px;
                    }
                }
                
                .middle {
                    margin: 0 30px;
                    span {
                        font-size: 80px;
                        font-weight: 600;
                        line-height: 1;
                        color: $color-gold;
                    }
                }
            }

            .text {
                font-size: 20px;
            }
            
            .day {
                margin-bottom: 10px;
                font-size: 22px;
            }
            
            .time {
                margin-bottom: 5px;
            }
        }

        .button-group {
            display: flex;
            justify-content: center;
            
            .button {
                margin-right: 15px;
                width: 150px;
            }
        }
    }
}