.floating-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
    background-color: #252525;
    padding: 10px 60px;
    
    nav {
        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
            
            a {
                text-align: center;
                color: #A2A2A2;
                font-size: 10px;
                line-height: 1;
            }
            
            i {
                display: block;
                font-size: 26px;
                margin-bottom: -5px;
            }
        }
    }
}