.gallery {
    width: 100%;
    padding-left: 15px;

    @include mq($until: lg) {
        padding-right: 15px;
    }

    .grid-item {
        width: calc(25% - 15px);
        margin-bottom: 15px;

        @include mq($until: lg) {
            width: 100%;
        }

        a{
            display: block;
            position: relative;

            img {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               -o-object-fit: cover;
                  object-fit: cover;
            }
        }
    }
}