.header {
    background-color: transparent;
    height: $header-height;
    line-height: $header-height;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: $transition;
    border-bottom: 1px solid transparent;

    .scroll & {
        background-color: $color-black;
        border-color: #3a3939;
    }

    nav {
        ul {
            @include list-unstyled();
            display: flex;
            justify-content: center;

            li {
                margin-right: 100px;
                
                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: $color-white;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 2px;
                    position: relative;

                    .scroll & {
                        color: $color-white;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        border-bottom: 2px solid $color-white;
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: $transition;
                        left: 0;
                        bottom: -3px;

                        .scroll & {
                            border-color: $color-white;
                        }
                    }

                    &:hover {
                       &:after {
                            transform: scaleX(1); 
                       } 
                    }
                }
            }
        }
    }
}