.page-banner {
    height: 100vh;
    
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.2);
        z-index: 9;
        pointer-events: none;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, $color-black, ease-in-out, transparent);
        z-index: 8;
        pointer-events: none;
    }

    &__content {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
        text-align: center;
        width: 100%;
        color: $color-white;

        &--title {
            font-family: $secondary-fonts;
            font-size: 130px;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 30px;
            color: $color-gold;
        }
        
        &--subtitle {
            font-weight: 300;
            font-size: 40px;
            margin-bottom: 0;
            line-height: 1;
            letter-spacing: 10px;
        }
    }

    .swiper-container {
        height: 100%;

        .swiper-slide {
            .bg {
                height: 100%;
                background-size: cover;
                background-position: bottom center;
            }
        }
    }
}